<!--File Name: list.ejs
    Student Name: Michael-Angelo Dinuccio
    StudentID: 301177707
    Date: October 14th, 2021
    -->

<%- include ../Partials/header.ejs%>

    <%- include ../Partials/main_nav.ejs%>
        <% if(typeof displayName=='string' && displayName) { %>
            <a href="/contact-list/add" style="font-family: Verdana, Geneva, Tahoma, sans-serif;" class="btn btn-primary" role="button" id="addContact"><i
                    class="fas fa fa-plus-circle"></i> <b>Add a Contact</b></a>
            <% } %>
                <main class="container-fluid">
                    <div class="row" style="position: relative; left: 100px;">

                        <div class="jumbotron bg-light p-5 rounded-lg m-3 container-fluid">
                            <h1>
                                <%= title %>
                            </h1>
                            <br>
                            <br>
                            <table class="table table-bordered table-striped table-hover contactTable col-md-10">
                                <!-- Header Row-->
                                <tr>
                                    <th class="text-center" scope="col-1">Name</th>
                                    <th class="text-center" scope="col-2">Email</th>
                                    <th class="text-center" scope="col-1">Phone Number</th>
                                    <% if(typeof displayName=='string' && displayName) { %>
                                        <th class="text-center" scope="col-1"></th>
                                        <th class="text-center" scope="col-1"></th>
                                        <% } %>
                                </tr>

                                <!-- Repeatable Template Row-->
                                <% for(let count=0; count < ContactList.length; count++) { %>
                                    <tr>
                                        <td class="class text-center col-1">
                                            <%= ContactList[count].name %>
                                        </td>
                                        <td class="class text-center col-1">
                                            <%= ContactList[count].email %>
                                        </td>
                                        <td class="class text-center col-1">
                                            <%= ContactList[count].number %>
                                        </td>

                                        <% if(typeof displayName=='string' && displayName) { %>
                                            <td class="text-center col-1">
                                                <a href="/contact-list/edit/<%= ContactList[count].id %>" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
                                                    class="btn btn-primary btn-sm" ><i class="fas fa-pencil-alt"></i>
                                                    <b>Update</b></a>
                                            </td>
                                            <td class="text-center col-1" >
                                                <a href="/contact-list/delete/<%= ContactList[count].id %>" 
                                                    class="btn btn-danger btn-sm" id="danger"><i
                                                        class="fas fa-trash-alt"> <span style="font-family: Verdana, Geneva, Tahoma, sans-serif;">  Delete</span></i></a>
                                            </td>
                                            <% } %>
                                    </tr>

                                    <% } %>
                            </table>
                        </div>
                    </div>
                    </div>
                </main>

                <%- include ../Partials/bottom_nav.ejs%>

                <%- include ../Partials/footer.ejs%>